@font-face {
    font-family: LearnThing;
    src: url('fonts/DevinaGarden.otf');
}
@font-face {
    font-family: RobotoMono;
    src: url('fonts/RobotoMono.ttf');
}
@font-face {
    font-family: Poppins;
    src: url('fonts/Poppins.ttf');
}

progress {
  height: 16px;
  border-radius: 8px;
  overflow: hidden; /* ensures rounding works */
  -webkit-appearance: none;
  appearance: none;
}

/* Chrome, Safari, Edge */
progress::-webkit-progress-bar {
  background-color: #e0e0e0; /* light gray */
  border-radius: 12px;
}

progress::-webkit-progress-value {
  background-color: #005e8d; /* blue foreground */
  border-radius: 12px; /* round both ends */
  transition: width 0.3s ease;
}

/* Firefox */
progress::-moz-progress-bar {
  background-color: #2196f3; /* blue foreground */
  border-radius: 12px; /* round both ends */
  transition: width 0.3s ease;
}

html {
    font-family: Poppins;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.quiz-button{
    border: none;
    background-color: #005e8d;
    color: white;
    padding: 12px;
    border-radius: 12px;
    font-size: 22px;
    font-weight: 600;
}

.answer{
    width: 20px;
    height: 20px;
}

.answer-label{
    font-size: 36px;
}

body:has(#gallery-popover.active) {
    overflow: hidden;
    border-right: 14px solid gray;
}

#gallery-popover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: color-mix(in srgb, black 80%, transparent 20%);
    z-index: 999;
}

    #gallery-popover.active {
        display: block;
    }
    #gallery-popover .actions {
        top: 4px;
        right: 16px;
        position: absolute;
    }
    #gallery-popover .close-button {
        border: 0px;
        background: transparent;
        color: white;
        cursor: pointer;
        font-size: 2rem;
    }

h1 {
    font-size: 4.5rem;
    font-weight: 500;
    font-family: Poppins;
    padding: 0px;
    margin: 0px;
}

h2 {
    font-family: Poppins;
    font-size: 2.1rem;
    padding: 0px;
    margin: 0px;
}

.h4 {
    font-family: Poppins;
    font-size: 1.2rem;
}

.equipment {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
}

.equipment-item {
    font-weight: 600;
    color: black;
    height: 230px;
    font-size: 1.17em;
}

    .equipment-item > div {
        border-radius: 16px;
        background-color: #eee;
        height: calc(100% - 32px);
        margin: 16px;
        position: relative;
    }

        .equipment-item > div > p {
            position: absolute;
            bottom: 0px;
            left: 16px;
        }

        .equipment-item > div > img {
            position: absolute;
            top: 16px;
            left: 32px;
            height: 120px;
            width: calc(100% - 64px);
            object-fit: contain;
            filter: drop-shadow(2px 1px 4px gray);
        }

a {
    color: unset;
    text-decoration: none;
}

body {
    margin: 0px;
    padding: 0px;
}

.impressum p {
    margin-bottom: 64px;
}

.page-padding .dynamic-header {
    color: black;
}

.anim-typewriter {
    overflow: hidden;
    width: 12em;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: left;
    white-space: nowrap;
    animation: typewriter 3s steps(20) 1s 1 normal both, blinkTextCursor 600ms steps(20) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 12em;
    }
}

.anim-typewriter-galerie {
    overflow: hidden;
    width: 4.26em;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: left;
    white-space: nowrap;
    animation: typewritergalery 2s steps(7) 1s 1 normal both, blinkTextCursor 600ms steps(7) infinite normal;
}

@keyframes typewritergalery {
    from {
        width: 0;
    }

    to {
        width: 4.26em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255,255,255,.75);
    }

    to {
        border-right-color: transparent;
    }
}

.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: -16px;
    margin-left: -16px;
}

    .header-links a {
        color: unset;
        margin-left: 16px;
        margin-right: 16px;
        cursor: pointer;
        text-decoration: none;
    }

.menu-button {
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    padding: 12px;
}

    .menu-button > img {
        text-align: center;
        width: 100%;
        height: 100%;
        align-content: center;
        object-fit: contain;
    }

    .menu-button:hover {
        background-color: #00000044;
    }

.distribute {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.text-justify {
    text-align: justify;
}

.title-on-hover .text-hidden {
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
}

    .title-on-hover .text-hidden h5 {
        margin-top: 0px;
    }


    .title-on-hover .text-hidden h3 {
        margin-bottom: 4px;
    }

.title-on-hover img:hover ~ .text-hidden {
    opacity: 1;
}

.title-on-hover img:focus ~ .text-hidden {
    opacity: 1;
}

.title-on-hover img {
    filter: brightness(1);
    transition: filter 0.2s;
}

.theme-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: -16px;
    margin-right: -16px;
}

.gallery-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -16px;
    margin-right: -16px;
}

.theme-item {
    position: relative;
    color: white;
}

    .theme-item h3 {
        pointer-events: none;
    }

    .theme-item img {
        border-radius: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.2s;
    }

        .theme-item img:hover {
            transform: scale(1.05);
        }

.image-popover {
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

    .image-popover > .image-popover-content {
        position: absolute;
        top: 32px;
        left: 32px;
        right: calc(32px + 16px);
        bottom: 32px;
        background-color: white;
        border-radius: 8px;
        padding: 16px;
    }

        .image-popover > .image-popover-content > #imagelarge {
            object-fit: contain;
            width: calc(100%);
            height: calc(100% - 48px);
            margin-top: 32px;
            margin-bottom: 32px;
        }

.gallery-item {
    position: relative;
    color: white;
	overflow: hidden;
	margin: 16px;
	border-radius: 16px;
	cursor: pointer;
}

    .gallery-item .text-hidden {
        position: absolute;
		height: 128px;
		background: linear-gradient(0deg, black, transparent);
        bottom: 0px;
        left: 0;
		padding: 32px;
        right: 0;
		align-content: end;
    }
    .gallery-item .text-hidden h5{
		margin-bottom: 0;
    }

    .gallery-item img {
        border-radius: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.header {
    background-color: transparent;
    color: black;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}
.header p {
	color: white;
}
.header p.active {
	text-decoration: underline;
}

.header.sticky {
    background-color: white;
    color: black;
    position: sticky !important;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header.sticky p {
	color: black;
}

.header.sticky p.active  {
	text-decoration: underline;
}

.mobile-menu {
    display: none;
}

body:has(input:checked) .hero{
	filter: brightness(0.5);
}

.hero {
    width: 100%;
	filter: brightness(1);
    position: relative;
    color: white;
	transition: filter 0.2s;
	
}

    .hero img {
		width: 100%;
		height: 100%;
        object-fit: cover;
        position: absolute;
        image-rendering: auto;
    }

    .hero .hero-container {
        position: absolute;
    }
	
	.hero button{
		border-radius: 6px;
		padding: 6px 12px;
		color: #005e8d;
		position: relative;
		background-color: white;
		filter: drop-shadow(4px 4px 4px #00000055);
	}
	
	.hero button:hover{
		border-color:  #ffffffaa;
	}
	
	.hero p{
		margin: 0px;
	}
	
	.hero h1{
        text-align: start;
        font-weight: 100;
		font-style: italic;
		color: #ffffff;
		opacity: 0.7;
		transition: opacity 0.2s;
	}

    .hero h1:hover {
		opacity: 1;
    }

.distribute:has(input:checked) ~ .mobile-menu-links {
    max-height: 500px;
}

.dynamic-header{
	text-align: center;
}
.dynamic-text{
	text-align: center;
}

.header-line{
	height: 2px;
	width: 64px;
	background-color: #005e8d;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 1921px) {
    .page-padding {
        padding-left: 256px;
        padding-right: 256px;
    }

    .equipment-item {
        width: 25%;
    }

    .dynamic-text {
        font-size: 1.1rem;
    }

	.hero{
		height: 100vh;
	}

    .hero div {
		left: 256px;
        bottom: 96px;
    }

    .hero h1 {
        font-size: 1.2rem;
    }

    .hero .h4 {
        font-size: 2rem;
    }

    .hero button {
		margin-bottom: 32px;
    }


    .dynamic-header {
        font-size: 4rem;
        font-family: Poppins;
        padding: 0px;
        margin: 0px;
    }

    .theme-item {
        width: 25%;
    }

    .gallery-item {
        height: 400px;
    }
}

@media (min-width: 1201px) and (max-width: 1920px) {
    .page-padding {
        padding-left: 180px;
        padding-right: 180px;
    }

	.hero{
		height: 100vh;
	}

    .dynamic-text {
        font-size: 1.1rem;
    }

    .equipment-item {
        width: 25%;
    }

    .hero div {
		left: 180px;
        bottom: 64px;
    }


    .hero h1 {
        font-size: 1.1rem;
    }

    .hero .h4 {
        font-size: 1.7rem;
    }

    .hero button {
		margin-bottom: 32px;
    }


    .dynamic-header {
        font-size: 3.3rem;
        font-family: Poppins;
        padding: 0px;
        margin: 0px;
    }

    #imagepopover {
        display: none !important;
    }

    .theme-item {
        width: 25%;
    }

    .gallery-item {
        height: 380px;
    }
}

@media (min-width: 801px) and (max-width: 1200px) {
    .page-padding {
        padding-left: 96px;
        padding-right: 96px;
    }

	.hero{
		height: 500px;
	}

    #imagepopover {
        display: none !important;
    }

    .dynamic-text {
        font-size: 1.0rem;
    }

    .equipment-item {
        width: 50%;
    }

    .hero div {
		left: 96px;
        bottom: 48px;
    }

    .hero h1 {
        font-size: 1rem;
    }

    .hero .h4 {
        font-size: 1.5rem;
    }


    .hero button {
		margin-bottom: 16px;
    }


    .dynamic-header {
        font-size: 3rem;
        font-family: Poppins;
        padding: 0px;
        margin: 0px;
    }

    .theme-item {
        width: 50%;
    }

    .gallery-item {
        width: 50%;
    }
}

@media (max-width: 800px) {
    .page-padding {
        padding-left: 48px;
        padding-right: 48px;
    }

    .dynamic-text {
        font-size: 1.0rem;
    }

    .equipment-item {
        width: 100%;
    }

	.hero{
		height: 300px;
	}

    .hero div {
		left: 48px;
        bottom: 32px;
    }

    .hero h1 {
        font-size: 1em;
    }


    .hero .h4 {
        font-size: 1.2rem;
    }


    .hero button {
		margin-bottom: 16px;
    }

    .dynamic-header {
        font-size: 2.4rem;
        font-family: Poppins;
        padding: 0px;
        margin: 0px;
    }

    .distribute {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .theme-item {
        width: 100%;
    }

    .gallery-item {
        width: 100%;
    }
}

.padding-element {
    padding-top: 64px;
}

.slide-in-right {
    -webkit-animation: slide-in-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-right {
    -webkit-animation: slide-out-right 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-right 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


#scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 12px;
}

    #scroll-to-top > img {
        text-align: center;
        width: 100%;
        height: 100%;
        align-content: center;
        object-fit: contain;
    }

    #scroll-to-top:hover {
        background-color: #333;
    }


@-webkit-keyframes slide-out-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(400px);
        transform: translateX(400px);
        opacity: 0;
    }
}

@keyframes slide-out-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(400px);
        transform: translateX(400px);
        opacity: 0;
    }
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(400px);
        transform: translateX(400px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(400px);
        transform: translateX(400px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
